# Nome que aparecerá na aba 'Actions' do GitHub
name: Deploy Automatico na Locaweb

# Gatilho: Roda sempre que houver um push para a branch 'main'
on: 
  push:
    branches:
      - main # Garante que só roda quando a branch 'main' é atualizada

jobs:
  deploy:
    name: Publicação do Projeto Node.js
    runs-on: ubuntu-latest
    
    steps:
    # 1. Baixa seu código do GitHub para a máquina virtual de deploy
    - uses: actions/checkout@v2

    # 2. Configura e instala as dependências do Node.js
    - name: Configura Node.js (Versão 18)
      uses: actions/setup-node@v3
      with:
        node-version: '18' 
        
    - name: Instala dependências (npm install)
      run: npm install
      
    # 3. Envia os arquivos instalados (incluindo node_modules) para o servidor
    - name: FTP Deploy Locaweb
      uses: locaweb/ftp-deploy@1.0.0
      with:
        # Credenciais que serão definidas no GitHub
        host: ${{ secrets.FTP_HOST }} 
        user: ${{ secrets.FTP_USER }}
        password: ${{ secrets.FTP_PASS }}
        
        # localDir: A raiz do projeto (onde está o package.json)
        localDir: "." 
        
        # remoteDir: O caminho raiz da sua hospedagem (conforme sua imagem b09949.png)
        remoteDir: "/home/sistemaemprestim1/" 
        
        # Ativa a segurança na conexão, resolvendo erros 530
        forceSsl: true